[Locations]
# Path to loadout config. Can use relative path from here.
looks_config = ./appearance.cfg

# Path to python file. Can use relative path from here.
#!!!Make sure it matches whatever you rename ExampleBot.py to!!!
python_file = ./PrototypeBot.py

# Name of the bot in-game
name = prototypeBot

maximum_tick_rate_preference = 120

[Details]
# These values are optional but useful metadata for helper programs
# Name of the bot's creator/developer
developer = itsOrD

# Short description of the bot
description = My first RLbot

# Fun fact about the bot
fun_fact = I did all of this on Mac and couldn't stop RL from crashing...

# Link to github repository
github = https://github.com/itsOrD/altAmazonRLbots

# Programming language
language = Python
